= content_for :head, auto_discovery_link_tag(:atom, podcasts_url(format: 'atom'))

.hero-unit
  .ac
    %h1 The Digital Doctor Podcast
    %br
    %p Helping doctors understand and use IT better

#explore
  - @podcasts.each do |podcast|
    %h3= link_to "Episode ##{podcast.id} - #{podcast.title}", podcast
    %b= subtitle(podcast)
    %br
    %p= podcast.description
    %p
      = link_to podcast do
        %i.icon-play-circle
        Listen now
    %hr

.well.ac
  %h3
    Don't miss an episode.
    = link_to "Subscribe to our RSS/ATOM feed", podcasts_url(format: 'atom')
    or listen to us on
    %a{href: "https://itunes.apple.com/gb/podcast/the-digital-doctor/id598478308"}iTunes
